<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>DepartmentsServlet</servlet-name>
        <servlet-class>Servlets.DepartmentsServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EmployeesServlet</servlet-name>
        <servlet-class>Servlets.EmployeesServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProfessorsServlet</servlet-name>
        <servlet-class>Servlets.ProfessorsServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>DepartmentsServlet</servlet-name>
        <url-pattern>/DepartmentsServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EmployeesServlet</servlet-name>
        <url-pattern>/EmployeesServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProfessorsServlet</servlet-name>
        <url-pattern>/ProfessorsServlet</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
